{% if post %}
<div class="current-page">
	<a href="/"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> {{ post.title }}
</div>

<article id="ccr-article">
	<h1>{{ post.title }}</h1>
	
	<div class="col-xs-12">
    {% if post.photos %}
    {% for photo in post.photos %}
    {% if loop.index == 1 %}
      <a href="{{ post.permalink }}">
        {% if photo %}
        <img src="{{ photo.width_600 }}" />
        {% else %}
        <img src="http://placehold.it/400x300/e5e5e5" alt="" />
        {% endif %}
      </a>
    {% endif %}
    {% endfor %}
    {% endif %}				  
  </div>
  
  <div class="clearfix"></div>
	
	<div class="col-xs-3">
    <div class="20pxSpacer"><time datetime="11/30/2014">{{ post.created_at }}</time></div>
    
    {% if post.author %}
    <div class="20pxSpacer">by <a href="#author">{{ post.author.name }}</a></div>
    {% endif %}
    
    <div id="social-buttons">
      <span class='st_facebook' displayText='Facebook'></span>
      <span class='st_twitter' displayText='Tweet'></span>
      <span class='st_googleplus' displayText='Google +'></span>
      <span class='st_email' displayText='Email'></span>
    </div>
  </div>
  
  <div class="col-xs-9" data-type-cleanup="true">
    {{ post.content }}
  </div>
          
	<div class="article-tags">
		Filed under: 
		{% if post.tags %}
		{% for tag in post.tags %}
		  <a href="/tag/{{ tag.name }}">{{ tag.name }}</a>
		{% endfor %}
		{% endif %}
	</div>

</article>
{% endif %}

{% if posts %}
<section id="ccr-article-related-post">
	<div class="ccr-gallery-ttile">
			<span class="bottom"></span>
			<p>Related Stories</p>
	</div>
	<ul>
	    {% for post in posts %}
			<li>
				<div class="ccr-thumbnail">
          {% if post.photos %}
          {% for photo in post.photos %}
          {% if loop.index == 1 %}
            {% if photo %}
            <img src="{{ photo.width_600 }}" />
            {% else %}
            <img src="http://placehold.it/400x300/e5e5e5" alt="" />
            {% endif %}
          {% endif %}
          {% endfor %}
          {% endif %}
          <p><a href="{{ post.permalink }}">Read More</a></p>
				</div>
				<h5><a href="{{ post.permalink }}">{{ post.title }}</a></h5>
			</li>
			{% endfor %}
		</ul>
	</section>      
	{% endif %}