










{% if posts %}
<section id="ccr-article-related-post">
	<div class="ccr-gallery-ttile">
			<span class="bottom"></span>
			<p>Related Stories</p>
	</div>
	<ul>
    {% for post in posts %}
		<li>
			<div class="ccr-thumbnail">
        {% if post.photos %}
        {% for photo in post.photos %}
        {% if loop.index == 1 %}
          {% if photo %}
          <img src="{{ photo.width_600 }}" />
          {% else %}
          <img src="http://placehold.it/400x300/e5e5e5" alt="" />
          {% endif %}
        {% endif %}
        {% endfor %}
        {% endif %}
        <p><a href="{{ post.permalink }}">Read More</a></p>
			</div>
			<h5><a href="{{ post.permalink }}">{{ post.title }}</a></h5>
		</li>
		{% endfor %}
	</ul>
</section>      
{% endif %}